<!-- templates/research/chercheur_list.html -->
{% extends 'research/base.html' %} {% block title %}Liste des Chercheurs{% endblock %} {% block content %}
<h2>Liste des Chercheurs</h2>
<a href="{% url 'chercheur_create' %}">Ajouter un Chercheur</a>
<ul>
    {% for chercheur in chercheurs %}
    <li>
        {{ chercheur.nom }} ({{ chercheur.specialite }})
        <a href="{% url 'chercheur_update' chercheur.pk %}">Modifier</a>
        <a href="{% url 'chercheur_delete' chercheur.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}