<!-- templates/research/projet_list.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Liste des Projets</title>
</head>

<body>
    <h1>Liste des Projets de Recherche</h1>
    <a href="{% url 'projet_create' %}">Ajouter un Projet</a>
    <ul>
        {% for projet in projets %}
        <li>
            {{ projet.titre }} ({{ projet.date_debut }} - {{ projet.date_fin_prevue }})
            <a href="{% url 'projet_update' projet.pk %}">Modifier</a>
            <a href="{% url 'projet_delete' projet.pk %}">Supprimer</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>