<!-- templates/research/publication_list.html -->
{% extends 'research/base.html' %} {% block title %}Liste des Publications{% endblock %} {% block content %}
<h2>Liste des Publications</h2>
<a href="{% url 'publication_create' %}">Ajouter une Publication</a>
<ul>
    {% for publication in publications %}
    <li>
        {{ publication.titre }} ({{ publication.date_publication }})
        <a href="{% url 'publication_update' publication.pk %}">Modifier</a>
        <a href="{% url 'publication_delete' publication.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}